.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-title-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: start;
}

.video-info {
  width: 200px;
}

.channel-picture {
  position: relative;
  display: inline-block;
  padding-top: 10px;
}

.channel-picture .tooltip-channel-picture {
  position: absolute;
  top: 55px;
  z-index: 300;
  width: 200px;
  padding: 12px;
  background-color: white;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.channel-picture:hover .tooltip-channel-picture {
  opacity: 1;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.tooltip-channel-picture {
  position: absolute;
  display: flex;
}

.tooltip-channel-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}

.tooltip-text p {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.tooltip-text span {
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96 96 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  border-radius: 2px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .video-title {
    font-size: 16px;
    line-height: 24px;
  }

  .video-author,
  .video-stats {
    font-size: 14px;
  }
}
